
.idea/.name

.idea/workspace.xml

.idea/vcs.xml

.idea/vagrant.xml

.idea/scopes/scope_settings.xml

.idea/deployment.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/ran.er-promo.com.iml
